body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #f3f4f6;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgb(180, 180, 180);
  width: 360px;
  text-align: center;
}

.logo-icon {
  width: 20px;
  height: 20px;
  background: linear-gradient(to right, #3b82f6, #06b6d4);
  border-radius: 2px;
  margin: 0 auto 15px;
}

h3 {
  font-size: 17px;
  margin-bottom: 25px;
  color: #333;
}

form {
  text-align: left;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  color: white;
  border: none;
  border-radius: 5px;
  border: #ccc solid ;
  font-size: 14px;
}

input::placeholder {
  color: #ccc;
}

.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.password-row a {
  font-size: 13px;
  color: #1d4ed8;
  text-decoration: none;
}

.remember-row {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 20px 0;
  font-size: 14px;
}

.login-button {
  width: 100%;
  background-color: #3b82f6;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.register {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.register a {
  color: #1d4ed8;
  text-decoration: none;
  font-weight: 500;
}

footer {
  margin-top: 20px;
  font-size: 12px;
  color: #999;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.error-text {
  font-size: 12px;
  color: red;
  margin-bottom: 10px;
  display: block;
}
